<legend>
	Tasks
	<span class="pull-right">
		<%
			feature ||= nil 
			feature_id = feature ? feature.id : nil 
		%>
		<%= link_to "New Task", new_task_path("task[project_id]"=> project.id, "task[feature_id]"=> feature_id), :class=>"btn btn-primary"  if project && can?(:create, Task) %>
	</span>
</legend>

<div>
<% @task = Task.new(project_id: project.id, feature_id: feature_id) %>
<%= render partial: "/tasks/form_inline" %>
</div>

<table class="table row-click table-bordered">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Status</th>
      <th>Task type</th>
      <th>Assigned to</th>
      <th>Feature</th>
      <th>Planned hours</th>
      <th>Actual hours</th>
      <th>Remaining hours</th>
      <th class="action_col"></th>
    </tr>
  </thead>

  <tbody id="tasks_table_body">
    <% tasks.each do |task| %>
      <%= render partial:"row", locals:{task:task}%>
    <% end %>
  </tbody>
</table>
