<div class="span5">
	
	<table class="table table-striped table-bordered">
		
			
	<tr>
	  <td>First name:</td>
	  <td><%= @user.first_name %></td>
	</tr>
	
			
	<tr>
	  <td>Last name:</td>
	  <td><%= @user.last_name %></td>
	</tr>
	
			
	<tr>
	  <td>Email:</td>
	  <td><%= @user.email %></td>
	</tr>
	
			
	<tr>
	  <td>Role:</td>
	  <td><%= @user.role %></td>
	</tr>
	
		
	</table>
</div>