#content {
	background-color: white;
	margin: 0px 0px 0px 220px;
	padding: 20px;
	position: relative;
	min-height: 500px;
	width: auto;
	max-width: 1160px;//1280-220
	min-width: 740px;//960-220
	
	legend {
		color: $fg-blue-dark;
		font-size: 1.5em;
		line-height: 1.4em;
		margin-bottom: 0.125em;
		margin-top: 0.175em;
	}
	.tab-pane legend {
		padding-left:8px;
	}
	
	text.highcharts-title {
		font-family: $chart-font !important;
		color: $fg-blue-dark !important;
		font-weight: 300 !important; 
		text-decoration: none !important;
		text-align: left !important;
	}
	
	div[class^="span"] {
		padding: 5px;
		background-color: $fg-tablebg;
/*
		border: 1px solid $fg-row-border-light;
		@include box-shadow($fg-row-border 1px 1px 2px); 
*/

	}

 	.hint-block {
	 	font-family: $main-font;
	 	font-size: 100%;
	 	color: $fg-body-copy-dark;
	 	
 	}
	.charts, .chart_left, .chart_right {
		overflow: visible;
		margin-bottom: 50px;
	}
	.chart-group {
	}
}
/* 		@include box-shadow(rgba(29, 65, 112, 0.5) 1px 1px 4px); */
/* 		background-color: $fg-rowbg-very-pale; */

#content_blank {

	#container {
		background-color: white;
		margin: 30px auto;
		margin-top: 50px;
		padding: 20px 0;
		> div, > h1, > h2, > h3, >p, >ul li, >ol {
			margin-left: 20px;
			margin-right: 20px;
		}
		> h1 {
			margin-top: 0.75em;
			margin-bottom: 1em;
		}
		min-height: 300px;
		position: relative;
		@include border-radius(6px);
		&.container-small {
			width: 660px;
		}
		&.container-big {
			width: 960px;
		}
	}
	
	 .lenderboard-hero {
		overflow: auto;
		width: auto;
	}
	
	label {
		font-weight: 600 !important;
		font-size: 1em;
	}
	abbr[title], abbr[data-original-title] {
		border: none;
	}
	.tutorial-header {
		padding: 20px;

		@include background-image(linear-gradient(white, #dddddd));
		@include box-shadow(black 3px 2px 10px);
		.instructions {
			margin: 0 auto;
			max-width: 1160px;
			min-width: 740px;
			font-size: 1rem;
			color: $fg-body-copy-dark;
			button {
				margin-left: 5px;
			}
			.pull-right  {
				margin-top: 5px;
				font-weight: 400;
			}	
		}
	}
	.tutorial {
		margin: 0px auto;
		max-width: 1200px;
		
		background: #163154 url('/assets/noise-bg-dark.jpg') repeat 0 0;
		 & > img {
			width: 100%;
			height: auto;
			text-align: center;
		}
	}
}


.hero-mini {
	overflow: auto;
	background-image: url('/assets/brown_hero_bg.png');
	@include text-shadow(rgba(0, 0, 0, 0.75), 2px 2px 5px);
	color: white;
	margin-bottom: 2rem;
	.inner {
		background-image: url('/assets/mini-hero.png');
		background-size:contain;
		background-position: right bottom;
		background-repeat: no-repeat;
		max-width: 960px;
		width:100%;
		height:250px;
		min-height: 250px;
		overflow: auto;
		margin: 0px auto;
		padding: 0 20px;
		position: relative;
		h1 {
			margin: 0 2rem;
			color: white;
			font-size: 2rem;
			margin-bottom: 0.1em;
			margin-top: 0.125em;
			@include single-text-shadow;
			border-bottom: none;
			position: relative;
			span {
				vertical-align: super;
				font-size: 1.5rem;
			}
			img {
				padding-top:4.5rem;
			}
		}

		h1:before {
			display: block;
			content: "";
			position: absolute;
			background-color: white;
			width: 2px;
			height: 36px;
			left: 21px;
			top: 18px;
		}
		h2 {
			@include single-text-shadow;
			margin: 0 2rem;
			color: white;
			margin-bottom: 0.1em;
			margin-top: 0.25em;
			font-size: 1.25rem;
			line-height: 1.25rem;
			border-bottom: none;
		}
		p {
			@include single-text-shadow;
			margin: 0.5rem 2rem;
			line-height: 1.25rem;
			color: white;
			font-size: 1rem;
		}
		a, a:hover {
			display: inline-block;
			margin: 2% 2rem;
			color: white;
		}
		
	}
}

#lender_info {
	margin-bottom: 1rem;
}

.spaced-p{
	margin: 1rem 0;
}
.client-logo {
	height: 60px;
	max-height: 60px;
	margin: 0px;
	img {
		max-width:100%;
		max-height:100%;	
	}
}