#content {
	background-color: white;
	margin: 0px 0px 0px 220px;
	padding: 20px;
	position: relative;
	min-height: 500px;
	width: auto;
	max-width: 1160px;//1280-220
	min-width: 740px;//960-220
	
	legend {
		color: $fg-blue-dark;
		font-size: 1.5em;
		line-height: 1.4em;
		margin-bottom: 0.125em;
		margin-top: 0.175em;
	}
	.tab-pane legend {
		padding-left:8px;
	}
	
	div[class^="span"] {
		padding: 5px;
		background-color: $fg-tablebg;
/*
		border: 1px solid $fg-row-border-light;
		@include box-shadow($fg-row-border 1px 1px 2px); 
*/

	}

 	.hint-block {
	 	font-family: $main-font;
	 	font-size: 100%;
	 	color: $fg-body-copy-dark;
	 	
 	}
	
}
/* 		@include box-shadow(rgba(29, 65, 112, 0.5) 1px 1px 4px); */
/* 		background-color: $fg-rowbg-very-pale; */

#content_blank {

	#container {
		background-color: white;
		margin: 30px auto;
		margin-top: 50px;
		padding: 20px 0;
		> div, > h1, > h2, > h3, >p, >ul li, >ol {
			margin-left: 20px;
			margin-right: 20px;
		}
		> h1 {
			margin-top: 0.75em;
			margin-bottom: 1em;
		}
		min-height: 300px;
		position: relative;
		@include border-radius(6px);
		&.container-small {
			width: 660px;
		}
		&.container-big {
			width: 960px;
		}
	}
	
	 .lenderboard-hero {
		overflow: auto;
		width: auto;
	}
	
	label {
		font-weight: 600 !important;
		font-size: 1em;
	}
	abbr[title], abbr[data-original-title] {
		border: none;
	}
	.tutorial-header {
		padding: 20px;

		@include background-image(linear-gradient(white, #dddddd));
		@include box-shadow(black 3px 2px 10px);
		.instructions {
			margin: 0 auto;
			max-width: 1160px;
			min-width: 740px;
			font-size: 1rem;
			color: $fg-body-copy-dark;
			button {
				margin-left: 5px;
			}
			.pull-right  {
				margin-top: 5px;
				font-weight: 400;
			}	
		}
	}
	.tutorial {
		margin: 0px auto;
		max-width: 1200px;
		
		background: #163154 url('/assets/noise-bg-dark.jpg') repeat 0 0;
		 & > img {
			width: 100%;
			height: auto;
			text-align: center;
		}
	}
}

#tasks_table {
  td {
    font-size: .9em;
  }
}
