<div id="footer" class="navbar navbar-fluid-bottom navbar-inverse">
   <div class="navbar-inner">
     <div class="container-fluid">
       <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">&copy; Scrummer </a>
       <div class="container-fluid nav-collapse pull-right">
         <ul class="nav">                      
		   <li> <%= link_to "Terms", "/terms" %> </li>
		   <li> <%= link_to "Privacy", "/privacy" %> </li>
		   <li> <%= link_to "About", "/about" %> </li>
		   <li> <%= link_to "Contact", "/contact" %> </li>
		 </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
 </div>